.container
	%h1 Sinatra bootstrap

	%h2 About

	%p My own Sinatra bootstrap.

	%h2 Includes:
	
	%ul
		%li Sinatra
		%li Sinatra/Reloader
		%li Bundler
		%li Haml
		%li Twitter bootstrap
		%li sass
		%ul
			%li
				served from ../sass/* directory as /stylesheets/*
		%li Heroku Procfile

	%h2 ToDo
	%ul
		%li check for latest bootstrap versions
		%li why is jquery twice?
		%li go semantic
		%li add navigation

	%h3 
		Originally forked from 
		%a{:href => '/https://github.com/ghostandthemachine/sinatra-haml-bootstrap-starter'}github:ghostandthemachine/sinatra-haml-bootstrap