.container
	.hero-unit
		%h1
			Hello, world!
		%p
			This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
		%p
			%a.btn.btn-primary.btn-large{} Learn more
	.row.show-grid
		- (1..12).each do |n|
			.span1 1
	.row.show-grid
		- (1..6).each do |n|
			.span2 2
	.row.show-grid
		- (1..4).each do |n|
			.span3 4
	.row.show-grid
		- (1..3).each do |n|
			.span4 3
	.row.show-grid
		- (1..2).each do |n|
			.span6 6
	.row.show-grid
		- (1..1).each do |n|
			.span12 12
	%hr

	%div= haml :footer